

html, body {
  height: 100%;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

img {
  max-width: 100%;
  height: auto;
}

.page__content {
  max-width: 1240px;     // largeur maquette
  margin: 0 auto;        // centre la page
  padding: 0 100px;      // espace gauche / droite
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .page__content {
    padding: 0 50px;
  }
}

@media (max-width: 768px) {
  .page__content {
    padding: 0 20px;
  }
}