.header {
  width: 100%;
}

.header__container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 40px 100px; // espace gauche / droite + vertical
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.header__logo {
  height: 48px;
}

.header__nav {
  display: flex;
  gap: 40px;
}

.header__link {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
}

.header__link.active {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .header__container {
    padding: 30px 50px;
  }
}

@media (max-width: 768px) {
  .header__container {
    padding: 20px;
  }

  .header__logo {
    height: 36px;
  }

  .header__nav {
    gap: 20px;
  }

  .header__link {
    font-size: 14px;
  }
}