.footer {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 60px 20px 30px;
  margin-top: 80px;
}

.footer__logo {
  width: 122px;
  margin-bottom: 28px;
}

.footer__text {
  font-size: 24px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .footer {
    padding: 40px 20px;
  }

  .footer__text {
    font-size: 12px;
  }
}